allow priv_app sysfs:file read;
allow priv_app sysfs:file open;
allow priv_app sysfs:file getattr;


allow priv_app bt_firmware_file:filesystem getattr;
allow priv_app firmware_file:filesystem getattr;
allow priv_app op1_file:filesystem getattr;
allow priv_app zygote:dir search;
allow priv_app zygote:file read;
allow priv_app zygote:file open;

allow priv_app asec_apk_file:dir getattr;
allow priv_app configfs:dir read;
allow priv_app mnt_media_rw_file:dir getattr;
allow priv_app op1_file:dir getattr;
allow priv_app op2_file:dir getattr;
allow priv_app persist_file:lnk_file getattr;
allow priv_app postinstall_mnt_dir:dir getattr;
allow priv_app radio_data_file:dir getattr;
allow priv_app system_app_data_file:dir getattr;
allow priv_app vendor_data_file:dir read;
allow priv_app vendor_firmware_file:dir getattr;



