allow system_app sysfs_fpc_proximity:file { w_file_perms getattr };
allow system_app default_android_service:service_manager add;
allow system_app socket_device:sock_file write;

